# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

monimelt

# Debug files
*.dSYM/

## Basile's backup
*%
*~
*.tmp*
*.orig

_listpredefs*

_timestamp.*

predefgc.bin
## ignore core dumps
core*

## ignore the HTML version of README.md and other markdown files
README.html
CodeGen.html

## ignore the sqlite databases
*.sqlite
